# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package
/dist
# compiled css
*.css

/client/src/components/transactions/payment-button.jsx
/client/src/firebase/components/firebase.utils.jsx
/client/public/index.html
/.vscode
server.js
mail.js
